
body {
  background-image: url('images/chapel.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1, p {
  color: rgb(255, 255, 240);
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 4px solid black;
  border-radius: 8px;
  font-weight: bold;
  font-family: Helvetica, Verdana, sans-serif;
}

h2, h3, h4, h5, h6 {
  color: rgb(255, 255, 240);
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 4px solid black;
  border-radius: 8px;
  font-weight: bold;
  font-family: Helvetica, Verdana, sans-serif;
}

p {
  font-size: 20px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

input {
	background-color: black;
	border: none;
	padding: 10px 10px;
	margin: 8px 0;
	width: 50%;
}

.button {
  background-color: RGB(222, 184, 135);
  color: black;
  width: 240px;
  border: 4px solid black;
  padding: 10px 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.button:active {
	transform: scale(0.90);
}

.button:hover {
  background-color: yellow;
  color: black;
}

.section-1 {
  background-color: transparent;
	border: 2px;
	padding: 10px 15px;
	margin: 20px 0;
	width: 50%;
}

.section-2, .section-3, .section-4 {
  background-color: transparent;
	border: 2px;
	padding: 10px 15px;
	margin: 8px 0;
	width: 50%;
}

.section-5 {
  background-color: transparent;
  position: absolute;
   bottom: 5%;
   left: 48%;
	border: 2px;
	padding: 10px 15px;
	margin: 8px 0;
	width: 50%;
}

#content {
  position: absolute;
   top: 35%;
   left: 36%;
  text-align: center;
  width :40px;
  height :40px;
  background-color: transparent;
}

#helpPage {
background-image: url('images/help.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

#contentHelp {
  position: absolute;
    top: 10%;
    left: 50%;
    text-align: center;
    width :40px;
    height :40px;
    background-color: transparent;
}
/*#faces {
  border: solid 1px white;
  padding: 40px;
  position: static;
  background-image: url('images/theaterfaces.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#reviewInput {
  background-color: transparent;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

#contentSearch {
  position: left;
    top: 25%;
    left: 30%;
}

#reviewButton {
  position: absolute;
    top: 65%;
    left: 42%;
}

#latestComment {
  font-style: italic;
  color: black;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
