
body {
  background-color: tan;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(255, 255, 240);
  font-size: 30px;
  border: 2px solid black;
  border-radius: 8px;
  font-weight: bold;
  font-family: Helvetica, Verdana, sans-serif;
}

.header {
  padding: 0px;
  text-align: center;
  background: darkblue;
  color: white;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 15px;
  border-radius: 5px;
}

.container {
  display: flex;
}

.button {
  display: inline-block;
  height: 70px;
  width: 150px;
  font-size: 30px;
  font-weight: bolder;
  border: 2px solid black;
  padding: 1px 1px;
  /*
  transition: background 0.3s linear 0s, color 0.3s linear 0s;
  */
  box-shadow: 0 9px #999;
  cursor: pointer;
  border-radius: 5px;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transform: scale(0.90);
}

.button:hover {
  background-color: Transparent;
  font-size: 37px;
  color: aqua;
}

.button1 {
  background:url(images/food.jpg);
  background-size: cover;
}

.button2 {
  background:url(images/medical.jpg);
  background-size: cover;
}

.button3 {
  background:url(images/clothes.jpg);
  background-size: cover;
}

.button4 {
  background:url(images/house.jpg);
  background-size: cover;
}

.button5 {
  background:url(images/info1.jpg);
  background-size: cover;
}
