/* General formatting*/
body {
  font-family: Helvetica, Verdana, sans-serif;
	font-size: 100%;
	margin: 0%;
}

#app-body{
	width: 100vw;
	height: 90vh;
}
form {
	background-color: tan;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px 15px;
	height: 100%;
	text-align: center;
}

fieldset {
  font-family: Helvetica, Verdana, sans-serif;
	font-size: 120%;
	width: 100%;
	height: 100%;
	border-style:groove;
	border-width: medium;
}

legend {
	font-size: 150%;
}

input {
	background-color: white;
	border: none;
	padding: 10px 15px;
	margin: 0px 0;
	width: 50%;
}

button {
  background-color: Transparent;
  color: white;
  border: 4px solid white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

button:active {
	transform: scale(0.90);
}

button:hover {
	background-color: white;
  color: black;
}
