#fsubmit{
    border-radius: 15px;
  
}
#title{
    text-align: center;
}
  


#main-login-div{
    
}

.center{
    margin: auto;
    width: 50%;
    padding: 10px;
  }
div > form > label{
    text-align: center;
}
div > form > *  {
    display: block;
    margin-top: 20px;
}
