div > input{
    size: 25px;
    height: 100px;
    width: 100px;
    background-size: 25px;
    position: relative;
    padding: 10px;
    left: 25%;
}
#title{
    position: relative;
    left: 50%;
}

#main{
    position: relative;
    top: 35%;
    left: 25%;
}

