div > input{
    size: 25px;
    height: 100px;
    width: 100px;
    background-size: 25px;
    position: relative;
    padding: 10px;
    left: 25%;
}
#app-body{
	width: 100vw;
	height: 90vh;
}
#title{
    position: relative;
    text-align: center;
}

#main{
    position: relative;
    top: 35%;
    left: 25%;
}

